.fancybox-lock {
  overflow: hidden;
}
.fancybox-lock .fancybox-overlay {
    overflow-x: auto;
    overflow-y: scroll;
}
.fancybox-overlay-fixed {
    bottom: 0;
    position: fixed;
    right: 0;
}
.fancybox-overlay {
    background: url("../images/fancybox_overlay.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: none;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 8010;
}

#fancybox-buttons.top {
    top: 10px;
}
#fancybox-buttons {
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 8050;
}
#fancybox-buttons ul {
    background: -moz-linear-gradient(center top , #444 0%, #343434 50%, #292929 50%, #333 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #111;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05) inset;
    display: block;
    height: 30px;
    list-style: outside none none;
    margin: 0 auto;
    padding: 0;
    width: 166px;
}
#fancybox-buttons ul li {
    float: left;
    margin: 0;
    padding: 0;
}
#fancybox-buttons a.btnPrev {
    background-position: 5px 0;
}
#fancybox-buttons a {
    background-image: url("../images/fancybox_buttons.png");
    background-repeat: no-repeat;
    display: block;
    height: 30px;
    opacity: 0.8;
    outline: medium none;
    text-indent: -9999px;
    width: 30px;
}

#fancybox-buttons a.btnPlay {
    background-position: 0 -30px;
}

#fancybox-buttons a.btnNext {
    background-position: -33px 0;
    border-right: 1px solid #3e3e3e;
}

#fancybox-buttons a.btnToggle {
    background-position: 3px -60px;
    border-left: 1px solid #111;
    border-right: 1px solid #3e3e3e;
    width: 35px;
}

#fancybox-buttons a.btnClose {
    background-position: -56px 0;
    border-left: 1px solid #111;
    width: 35px;
}
.fancybox-opened {
    z-index: 8030;
}
.fancybox-wrap {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 8020;
}
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {
    border: 0 none;
    margin: 0;
    outline: medium none;
    padding: 0;
    vertical-align: top;
}
.fancybox-opened .fancybox-skin {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-skin {
    background: none repeat scroll 0 0 #f9f9f9;
    border-radius: 4px;
    color: #444;
    position: relative;
    text-shadow: none;
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}
.fancybox-title-inside-wrap {
    padding-top: 10px;
}
.fancybox-title {
    font: 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    visibility: hidden;
    z-index: 8050;
}
.fancybox-inner {
    overflow: hidden;
}

.fancybox-prev {
    left: 0;
}
.fancybox-next {
    right: 0;
}
.fancybox-nav {
    background: url("../images/blank.gif") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 100%;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 40%;
    z-index: 8040;
}

.fancybox-prev span {
    background-position: 0 -36px;
    left: 10px;
}
.fancybox-nav span {
    cursor: pointer;
    height: 34px;
    margin-top: -18px;
    position: absolute;
    top: 50%;
    visibility: hidden;
    width: 36px;
    z-index: 8040;
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../images/fancybox_sprite.png");
}

.fancybox-next span {
    background-position: 0 -72px;
    right: 10px;
}

.fancybox-image {
    max-height: 100%;
    max-width: 100%;
}
.fancybox-image, .fancybox-iframe {
    display: block;
    height: 100%;
    width: 100%;
}