<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:jpa="http://www.springframework.org/schema/data/jpa"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
           http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
          http://www.springframework.org/schema/data/jpa
          http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd">
   <import resource="application-security.xml"/>
   <bean id="messageSource"
    class="org.springframework.context.support.ResourceBundleMessageSource">
    <property name="basenames">
      <list>
        <value>messages</value>
      </list>
    </property>
  </bean>
  <context:component-scan base-package="com.brightengold" />
  <context:property-placeholder location="classpath*:jdbc.properties" />

  <bean id="dataSource" destroy-method="close"
    class="org.apache.commons.dbcp.BasicDataSource">
    <property name="driverClassName" value="${jdbc.driver}"></property>
    <property name="url" value="${jdbc.url}"></property>
    <property name="username" value="${jdbc.username}"></property>
    <property name="password" value="${jdbc.password}"></property>
    <property name="maxActive" value="1000"></property>
    <property name="maxWait" value="3000"></property>
    <property name="maxIdle" value="20"></property>
  </bean>

  <!-- 配置了两个Spring Data Jpa配置 -->
  <!-- 引入auth_core.jar start -->
  <!-- 配置了auth_core.jar的jpa repositories -->
  <jpa:repositories base-package="cn.rainier.nian.dao"
    transaction-manager-ref="transactionManager"
    entity-manager-factory-ref="entityManagerFactory" />

  <!-- 引入auth_core自带的userService -->
  
  <bean class="cn.rainier.nian.service.OutCSVForUser" id="outUser"/>

  <bean class="cn.rainier.nian.service.impl.UserServiceImpl" id="userService">
    <property name="userDao" ref="userDao" />
    <property name="outCSV" ref="outUser"/>
  </bean>

  <bean class="cn.rainier.nian.service.OutCSVForRole" id="outRole">
  	<property name="resourceDao" ref="resourceDao"/>
  </bean>

  <bean id="roleService" class="cn.rainier.nian.service.impl.RoleServiceImpl">
    <property name="roleDao" ref="roleDao" />
    <property name="outCSV" ref="outRole"/>
  </bean>

  <bean id="menuService" class="cn.rainier.nian.service.impl.MenuServiceImpl">
    <property name="menuDao" ref="menuDao" />
  </bean>

  <bean id="resourceDao" class="cn.rainier.nian.dao.impl.ResourceDaoImpl">
    <property name="ds" ref="dataSource" />
  </bean>

  <bean id="resourceService" class="cn.rainier.nian.service.impl.ResourceServiceImpl">
    <property name="resourceDao" ref="resourceDao" />
    <property name="menuDao" ref="menuDao" />
  </bean>

  <!-- 引入auth_core.jar end -->

  <jpa:repositories base-package="com.brightengold.dao"
    transaction-manager-ref="transactionManager"
    entity-manager-factory-ref="entityManagerFactory" />

  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory" />
  </bean>

  <tx:annotation-driven transaction-manager="transactionManager" />
  <!-- Jpa Entity Manager 配置 -->
  <bean id="entityManagerFactory"
    class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <property name="persistenceXmlLocation" value="classpath:jpa/persistence.xml" />
    <property name="persistenceUnitName" value="brightengold" />
  </bean>

  <aop:aspectj-autoproxy proxy-target-class="true" />

  <aop:config proxy-target-class="true">
    <aop:pointcut expression="(execution(* com.brightengold.service.*.*(..))) or (execution(* cn.rainier.nian.service.impl.*.*(..))) "
      id="business" />
    <aop:advisor advice-ref="txAdvice" pointcut-ref="business" />
  </aop:config>

  <tx:advice id="txAdvice" transaction-manager="transactionManager">
    <tx:attributes>
      <tx:method name="save*" propagation="REQUIRED" />
      <tx:method name="update*" propagation="REQUIRED"/>
      <tx:method name="edit*" propagation="REQUIRED"/>
      <tx:method name="del*" propagation="REQUIRED"/>
      <tx:method name="load*" read-only="true" />
      <tx:method name="find*" read-only="true"/>
      <tx:method name="batch*" propagation="REQUIRED"/>
      <tx:method name="get*" propagation="REQUIRED"/>
      <tx:method name="log*" propagation="REQUIRED"/>
      <tx:method name="changePassword" propagation="REQUIRED"/>
      <tx:method name="resetPassword" propagation="REQUIRED"/>
      <tx:method name="unsubscribe" propagation="REQUIRED"/>
    </tx:attributes>
  </tx:advice>
</beans>