<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brightengold.dao.LogDao">
	<select id="findAllCount">
		select count(*) from tb_log 
	</select>
	
	<insert id="save">
		insert into tb_log(id,content,type,operator,operatorRealName,menuId,createTime) 
		values(null,#{content},#{type},#{operator},#{operatorRealName},#{menuId},#{createTime})
	</insert>
	
	<select id="findList" resultType="Log">
		select * from tb_log order by createTime desc limit #{start},#{pageSize} 
	</select>
</mapper>