<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias type="com.brightengold.model.Advertisement" alias="Advertisement"/>
  	<typeAlias type="com.brightengold.model.Category" alias="Category"/>
  	<typeAlias type="com.brightengold.model.Column" alias="Column"/>
  	<typeAlias type="com.brightengold.model.Feedback" alias="Feedback"/>
  	<typeAlias type="com.brightengold.model.Info" alias="Info"/>
  	<typeAlias type="com.brightengold.model.Log" alias="Log"/>
  	<typeAlias type="com.brightengold.model.News" alias="News"/>
  	<typeAlias type="com.brightengold.model.Product" alias="Product"/>
  	<!-- <typeAlias type="com.brightengold.model." alias=""/>
  	<typeAlias type="com.brightengold.model." alias=""/>
  	<typeAlias type="com.brightengold.model." alias=""/>
  	<typeAlias type="com.brightengold.model." alias=""/> -->
  </typeAliases>
</configuration>