<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rainier.nian.dao.MenuDao">
	<insert id="save">
		insert into tb_menu(id,name,mark,url,priority,parentId) 
		values(null,#{name},#{mark},#{url},#{priority},#{parentId})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from tb_menu where id=#{id}
	</delete>
	
	<select id="findParentMenuByRole">
		select distinct * from tb_menu m inner join tb_roles r on m.=r.id where m.parentMenu = null and r in ?1
	</select>
	
	<select id="findOne" resultType="Menu" parameterType="int">
		select * from tb_info where id=#{id}
	</select>
	
	<select id="findAll" resultType="Info">
		select * from tb_info order by priority desc
	</select>
	
	<select id="findList" resultType="Info">
		select * from tb_info order by priority desc limit #{start},#{pageSize}
	</select>
	
	<select id="findAllCount" resultType="long">
		select count(*) from tb_info
	</select>
</mapper>