<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rainier.nian.dao.UserDao">
	
	<resultMap type="User" id="userRoleMap">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="realName" property="realName" jdbcType="VARCHAR"/>
		<result column="username" property="username" jdbcType="VARCHAR"/>
		<result column="email" property="email" jdbcType="VARCHAR"/>
		<result column="password" property="password" jdbcType="VARCHAR"/>
		<result column="enabled" property="enabled" jdbcType="BOOLEAN"/>
		<result column="accountNonLocked" property="accountNonLocked" jdbcType="BOOLEAN"/>
		<result column="lastCloseDate" property="lastCloseDate" jdbcType="TIMESTAMP"/>
		<result column="createDate" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="telphone" property="telphone" jdbcType="VARCHAR"/>
		<collection property="roles" ofType="Role">
			<result column="name" property="name" jdbcType="VARCHAR"/>
			<result column="describes" property="describes" jdbcType="VARCHAR"/>
			<result column="remarks" property="remarks" jdbcType="VARCHAR"/>
			<result column="defaultOrNo" property="defaultOrNo" jdbcType="BOOLEAN"/>
			<result column="createDate" property="createDate" jdbcType="TIMESTAMP"/>
		</collection>
	</resultMap>
	
	<insert id="save">
		insert into tb_user(id,realName,username,email,password,enabled,accountNonLocked,lastCloseDate) 
		values(null,#{realName},#{username},#{email},#{password},#{enabled},#{accountNonLocked},#{lastCloseDate})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from tb_user where id=#{id}
	</delete>
	
	<select id="findUserByRole" resultType="User">
		select distinct * from tb_user u inner join tb_user_role ur on u.id=ur.userId 
		where ur.roleId = #{roleId} order by u.id desc
	</select>
	
	<select id="findByName" resultMap="userRoleMap">
		select u.*,r.* from tb_user u inner join tb_user_role ur on u.id = ur.userId inner join tb_role r on 
		r.name = ur.roleId where u.username = #{username}
	</select>
	
	<select id="findUserByLike" resultType="User">
		select * from tb_user u where u.username like concat('%',#{un},'%')
	</select>
	
	<select id="findOne"  parameterType="int" resultType="User">
		select * from tb_user where id=#{id}
	</select>
	
	<select id="getPasswordById" resultType="java.lang.String" parameterType="int">
		select u.password from tb_user u where u.id = #{id}
	</select>
	
	<update id="changePassword">
		update tb_user set password = #{password} where username = #{username}
	</update>
	
	<update id="unsubscribe" parameterType="java.lang.String">
		update tb_user set accountNonLocked = false,lastCloseDate=NOW() where username = #{username}
	</update>
	
	<select id="findList" resultType="User">
		select * from tb_user where id!=#{loginId} order by createDate desc limit #{start},#{pageSize}
	</select>
	
	<select id="findAllCount" resultType="long" parameterType="int">
		select count(*) from tb_user where id!=#{userId}
	</select>
	
</mapper>