@charset "utf-8";
/* CSS Document */
/* 产品详情 */
/* 多图展示 */
.pro_detail{ overflow:hidden; margin-top:20px;color:#5e5e5e;clear:both;padding-left:10px;}
.pro_detail_pic{ width:306px;  height:auto; float:left;}

.pro_detail_name{ width:364px; height:auto; overflow:hidden; padding-right:16px; float:right;}
.pro_name{ line-height:24px; margin-bottom:4px;border-bottom:1px solid #cccccc;}
.pro_name b{color:#1679CA}
.pro_class{ height:30px; line-height:30px;border-bottom:1px solid #FFF}
.pro_detail_name .short_des{ line-height:26px; margin-top:5px}

.bigpic{clear:both;height:30px;line-height:30px;margin-top:20px;}
.bigpic a{display:block; overflow:hidden;background:url(../images/download.jpg) no-repeat; text-align:left; width:106px;height:25px;line-height:25px;color:#fd5202;padding-left:35px;}

.prev_next{clear:both;height:30px;line-height:30px;padding-left:40%;margin-top:30px;}
.prev_next a{display:block; overflow:hidden;width:85px;height:18px;line-height:18px;background:url(../images/next.jpg) no-repeat; text-align:center;float:left;margin-right:10px;}
.prev_next a:hover{background:url(../images/next_on.jpg) no-repeat;}
/* 分享 */
.share{ margin-top:12px;height:auto; overflow:hidden; clear:both;}

/* 产品介绍 tab */
.prodes{height:auto; overflow:hidden;clear:both;color:#5e5e5e }
.pro_tab_nav{ height:35px; background:url(../images/dot7.gif) repeat-x left bottom; margin-top:17px;}
.pro_tab_nav ul li{ float:left; width:auto; height:32px; line-height:32px; text-align:center; background:url(../images/tab_1.gif) no-repeat; font-weight:600; color:#818181; font-size:12px; margin-right:3px;padding-left:10px;float:left;}
.pro_tab_nav ul li .bg_right{background:url(../images/tab_right.gif) no-repeat; display:block; float:left;width:9px;height:32px;}

.pro_tab_nav ul li:hover, .pro_tab_nav ul li.hover{background:url(../images/tabover_1.gif) no-repeat; cursor:pointer; color:#FFF }
.prodes .pro_tab_nav ul li:hover .bg_right,.prodes .pro_tab_nav ul li.hover .bg_right{background:url(../images/tabover_right.gif) no-repeat;float:left;width:8px; }

.condestab{ display:none; text-align:left; line-height:24px; padding:10px 5px 15px; }


.pro_tab_nav{height:28px;line-height:28px;border:1px solid #d0d0d0;border-left:0px;border-right:0px;margin-bottom:10px; background-color:#dddddd;}
.pro_tab_nav span{border-right:1px solid #bdbdbd;display:block;height:28px;float:left;padding-right:10px;;padding-left:10px;color:#000;cursor:pointer;}
.pro_tab_nav .span_on{background-color:#0DB757;color:#FFF;}

.tab_con{display:none;padding-left:10px;padding-right:10px;}
/******相关产品******/
.recommand{border:1px solid #d0d0d0;height:227px;clear:both;margin-top:10px;}
.recommand .pro_tab_nav{border-top:0px;border-left:0px;border-right:0px;margin-top:0px;}
#pro_con{width:730px;margin-left:20px;height:200px;}

#caselist_1{width:780px;margin-left:12px;margin-top:15px;}


.mid_img{clear:both;width:500px;height:414px;border:1px solid #cccccc;margin:0px auto;}
.s_img_list{clear:both;width:480px;height:67px;padding:10px;background-color:#ececec;border:1px solid #cccccc;border-top:0px;margin:0px auto;}