<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
	version="2.0">
	<!-- Keep this file empty, Spring will scan the @Entity classes -->
	<persistence-unit name="sunshinecig" transaction-type="RESOURCE_LOCAL">
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		<!-- 引入auth_core中的model -->
		<class>cn.rainier.nian.model.User</class> 
		<class>cn.rainier.nian.model.Role</class>
		<class>cn.rainier.nian.model.Resource</class>
		<class>cn.rainier.nian.model.Menu</class>
		
		<!-- 权限外的模块 -->
		<class>com.brightengold.model.News</class>
		<class>com.brightengold.model.Company</class>
		<class>com.brightengold.model.Log</class>
		<class>com.brightengold.model.Feedback</class>
		<class>com.brightengold.model.Category</class>
		<class>com.brightengold.model.Product</class>
		<class>com.brightengold.model.Column</class>
		<class>com.brightengold.model.Advertisement</class>
		<class>com.brightengold.model.Info</class>
		
		<properties>
			<property name="hibernate.show_sql" value="true" />
			<property name="hibernate.hbm2ddl.auto" value="update" />
			<property name="hibernate.format_sql" value="true"/>
			<property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5InnoDBDialect"/> 
		</properties>
	</persistence-unit>
</persistence>